* {
    box-sizing: border-box;
    margin: 0;
}

body {
    font-size: 14px;
    font-family: 'Raleway', Arial, sans-serif;
}

.row {
    position: relative;
    margin: 0 auto;
    width: 1059px;
}

.row:after {
    display: block;
    clear: both;
    content: '';
}

header {
    padding: 10px;
    background-color: black;
}

a {
    color: white;
    text-decoration: none;
}

#logo {
    text-transform: uppercase;
    font-weight: 600;
}

.color {
    color: #24baa0;
}

nav {
    float: right;
}

nav ul {
    margin: 0;
    list-style: none;
    text-transform: uppercase;
}

nav ul li {
    display: inline-block;
    padding-left: 30px;
}

#slider {
    background: rgba(254, 254, 254, 1);
    background: -moz-linear-gradient(top, rgba(254, 254, 254, 1) 0%, rgba(226, 226, 226, 1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(254, 254, 254, 1)), color-stop(100%, rgba(226, 226, 226, 1)));
    background: -webkit-linear-gradient(top, rgba(254, 254, 254, 1) 0%, rgba(226, 226, 226, 1) 100%);
    background: -o-linear-gradient(top, rgba(254, 254, 254, 1) 0%, rgba(226, 226, 226, 1) 100%);
    background: -ms-linear-gradient(top, rgba(254, 254, 254, 1) 0%, rgba(226, 226, 226, 1) 100%);
    background: linear-gradient(to bottom, rgba(254, 254, 254, 1) 0%, rgba(226, 226, 226, 1) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#fefefe', endColorstr='#e2e2e2', GradientType=0);
}

.arrow {
    display: block;
    float: left;
    padding-top: 100px;
    width: 5%;
    font-weight: 300;
    font-size: 78px;
}

.arrow:last-child {
    float: right;
}

#slider>.row {
    margin-top: 100px;
}

#left {
    float: left;
    width: 40%;
}

#right {
    float: left;
    margin-right: 50px;
    width: 40%;
    text-align: center;
    line-height: 30px;
}

#right h2 {
    text-transform: uppercase;
    font-weight: 700px;
    font-size: 40px;
}

#right a {
    padding: 10px 40px;
    border-radius: 7px;
    background-color: #24baa0;
    text-transform: uppercase;
    font-size: 24px;
}

#right p {
    margin: 40px 0;
}

.columns {
    margin-top: 30px;
}

.column {
    position: relative;
    float: left;
    margin-right: 31px;
    width: 331px;
    height: 225px;
}

.column:first-child {
    background-image: url(../images/box1_img.jpg);
    background-size: contain;
}

.column:nth-child(2) {
    background-image: url(../images/box2_img.jpg);
    background-size: contain;
}

.column:last-child {
    margin-right: 0;
    border: 1px solid lightgray;
}

.column>h4 {
    display: inline-block;
    margin-top: 170px;
    padding: 10px 0 10px 20px;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.4);
}

.column:last-child h4 {
    margin-top: 30px;
}

.column>h4:after {
    display: block;
    width: 120px;
    border-bottom: 5px solid #24baa0;
    content: '';
}

.up {
    color: black;
    text-transform: uppercase;
}

.column p {
    padding: 10px;
}

#price {
    padding-bottom: 50px;
    background-color: #DEDEDE;
}

h3 {
    display: block;
    margin-top: 60px;
    padding-top: 60px;
    padding-bottom: 5px;
    width: 331px;
    border-bottom: 5px solid #24baa0;
    text-transform: uppercase;
    font-size: 25px;
}

#price .column {
    position: relative;
    margin-top: 80px;
    height: 700px;
    border: 2px solid lightgray;
    background-color: #F7F2F2;
    background-image: none;
    text-align: center;
}

#price .column:nth-child(2),
#price .column:nth-child(2) .outer {
    border: 2px solid #24baa0;
    background-color: #24baa0;
}

.outer {
    position: absolute;
    top: -40px;
    left: 50%;
    z-index: 2;
    margin-left: -30px;
    width: 60px;
    height: 60px;
    border: 2px solid lightgray;
    border-radius: 100%;
    background-color: #F7F2F2;
}

.inner {
    position: relative;
    top: 13px;
    left: 13px;
    width: 30px;
    height: 30px;
    border-radius: 100%;
    background-color: lightgray;
}

#price .column:nth-child(2) .inner {
    background-color: #DEDEDE;
}

.outer+h3 {
    padding-top: 5px;
    border-bottom: none;
    color: #24baa0;
    text-transform: uppercase;
    font-size: 25px;
}

#price .column:nth-child(2) h3 {
    color: #DEDEDE;
}

.cost {
    position: absolute;
    top: 150px;
    left: 50%;
    margin-left: -75px;
    padding-top: 25px;
    width: 150px;
    height: 150px;
    border: 2px solid lightgray;
    border-radius: 100%;
    background-color: white;
    color: lightgray;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 50px;
    line-height: 40px;
}

#price .column:nth-child(2) .cost {
    color: #24baa0;
}

.cost sup {
    font-size: 25px;
}

.cost span {
    margin-top: 0;
    font-size: 20px;
}

.options {
    margin-top: 250px;
    width: 100%;
    color: gray;
    text-align: center;
    font-size: 20px;
}

.options {
    background-color: #E5E0E0;
}

.options p:nth-child(2n+2) {
    background-color: #E8E8E8;
}

#price .column:nth-child(2) p:nth-child(2n+1) {
    background-color: white;
}

.options+a {
    position: absolute;
    bottom: 20px;
    left: 32%;
    margin-top: 100px;
    padding: 10px 30px;
    border-radius: 10px;
    background-color: #24baa0;
    font-size: 18px;
}

#price .column:nth-child(2) a {
    background-color: white;
    color: #24baa0;
}

#contact {
    margin-bottom: 50px;
}

#contact h3 {
    margin-top: 30px;
    margin-bottom: 30px;
    padding-top: 20px;
}

#contact .row:nth-child(2) div:first-of-type {
    float: left;
    width: 60%;
}

input,
textarea {
    margin: 10px auto;
    padding: 15px 6px;
    width: 90%;
    border: 1px solid #24baa0;
    color: lightgray;
    font-size: 22px;
}

textarea {
    resize: none;
}

form div:last-of-type {
    float: left;
    width: 40%;
}

form img {
    display: block;
    margin-bottom: 25px;
}

input[type="checkbox"] {
    float: left;
    margin: 0 10px;
    width: 50px;
    height: 50px;
    cursor: pointer;
    -moz-appearance: none;
    -webkit-appearance: none;
    -o-appearance: none;
}

input[type="checkbox"]:checked {
    background-image: url(../images/form_ok.jpg);
    background-position: center;
    background-repeat: no-repeat;
}

label {
    display: block;
    padding-right: 10px;
    color: darkgray;
    font-size: 20px;
    cursor: pointer;
    margin: 20px 0;
}


/*label span {
    padding-top: 10px;
}*/

input[type="submit"] {
    border-radius: 5px;
    background-color: #24baa0;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
}

footer {
    padding-bottom: 30px;
    color: gray;
    font-size: 16px;
}

footer P {
    display: block;
    float: left;
    padding-top: 15px;
    width: 60%;
}

footer div {
    float: left;
    width: 40%;
}

footer div>a {
    display: inline-block;
    float: left;
}

footer div>a:after {
    display: block;
    clear: both;
    content: '';
}

footer div>p {
    float: right;
    padding-right: 30px;
    width: auto;
    text-transform: uppercase;
}

footer span {
    font-weight: bolder;
}